<div class="section-header position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>);">
  <div class="container">
    <% if @list.movies.size > 0 %>
      <div class="movie-tag">
        <%= pluralize(@list.movies.size, 'movie') %>
      </div>
    <% end %>
    <div>
      <h1><%= @list.name %></h1>
    </div>
  </div>
</div>
<div class="section-bookmarks">
  <div class="container">
    <%# button modal Add a new Bookmark %>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-success text-light my-3" data-bs-toggle="modal" data-bs-target="#newBookmarkModal">
        add a movie
      </button>   
    </div>
    <%# list de bookmarks %>
    <div class="grid-bookmarks">
      <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
        <div class="card-trip">
          <img src="<%= movie.poster_url %>" />
          
          <div class="card-trip-infos">
            <div>
              <div class="d-flex gap-2 align-items-center">
                <h2><%= movie.title %> . <%= movie.rating %><i class="fa-solid fa-star" style="color: #F3D203;"></i></h2>
              </div>
              <p><%= movie.overview %></p>
            </div>
            <div class="d-flex justify-content-between mt-auto">
              <p class="fw-bold"><%= bookmark.comment %></p>
              <p><%= link_to "Delete", bookmark_path(bookmark), class:"text-danger text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# render modal new Bookmark %>
<%= render 'bookmarks/modal', list: @list, bookmark: @bookmark %>
